<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Калькулятори викидів</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <h1>Калькулятори для розрахунку валових викидів шкідливих речовин у вигляді суспендованих твердих частинок при спалюванні:</h1>
    <a href="/coal">Вугілля</a><br>
    <a href="/oil">Мазуту</a><br>
    <a href="/gas">Природного газу</a><br>
</body>
</html>
